.App {
	height: 100%;
	width: 100%;
	min-width: 100vw;
	min-height: 100vh;
	background-color: silver;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.AppControls {
	background-color: black;
	color: silver;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 0.5rem;
}

.ButtonRow {
	margin: 0.5rem 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

/* Slider styles */
.sliderContainer{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sliderHeader{
	width: max-content;
}

.sliderInput{
	width: 100%;
}

/* Time styles */
.TimeContainer{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.TimeLabel{

}

.TimeValue{

}